
.header-container{
    width: 100%;
    height: 3rem;
    background-color: rgb(70, 62, 62);
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content:space-around;
    align-items: center;
    transition: all 1s ease-in-out;
    z-index: 1;
}
#company-logo a{
    text-decoration: none;
    color: rgb(223, 217, 217);
  
}
#company-logo  span{
     
      color: rgb(240, 226, 32);
 }

#main-menu{
    display: flex;   
}

#main-menu a{
    text-decoration: none;
    margin: 10px;
    color:  rgb(228, 65, 65);
}
#hero-image{
    height: 100vh;
    background: url('../images/imag.jpg') no-repeat fixed top;
    background-size: cover;
    position: relative;
}
.tag-line{
    position: absolute;
    top :50%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color:#ccc;
    opacity: 1;
   

}
.tag-line img{
 border-radius: 50%;
 width: 100px;
 height: 100px;
}
#topButton{
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: tomato;
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: 15px;
    border-radius: 4px;
    display: none;
}
#topButton:hover{
    background-color: #555;
    transition: 1s;
}
.menu-ham i{
    color:  rgb(228, 65, 65);;
}
#our-story{
    padding: 25px 0;
}
#our-story p{
    text-align: justify;
}
#project{
    background-color:#333 ;
    color: white;
    padding: 25px 0;
     text-align: center;


}
.project-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-evenly;
}
.project-item{
 flex: 1;
 flex-basis: 33%;

}
img{
    width: 300px;
    height: 200px;
}
img:hover{
    transform: scale(1.2);
     margin: 0 28px;
     transition:all 1s ease-in-out;
}
.descrit{
    margin-bottom: 20px;
}
#table_project{
    background-color: #eee;
    padding: 25px 0;
  
}
#project-table{
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;
    margin-bottom: 10px;
}
#project-table th{
    text-align: left;
    font-weight: bold;
}
#contact{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 60px;
}
#contact fieldset{
    width: 80%;
    margin: auto;
    background-color: #eee;
    padding: 20px;
    box-shadow: 0 0 4px #ccc;
}
#contact p{
    text-align: center;
    margin-bottom: 10px;
}
#contact input,textarea{
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
        border:1px solid #ccc
}
#contact button{
    width: 100%;
    height: 40px;
    border:1px solid #ccc
}
#contact button:hover{
    background: #333;
    color:#fff;
    cursor: pointer;
    transition: 1s;
}
.container-footer{
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
     background-color: rgb(70, 62, 62);
       color: rgb(223, 217, 217);

}
#footer-menu{
    display: flex;
}
.menu-item{
    padding:0 20px;

}
.menu-item a{
    color: rgb(204, 121, 121);
    text-decoration: none;
}
.menu-item i:hover{
  color: white;
  transition: 1s;
}
section{
    display: block;
    padding-top: 75px;

}

.container{
    width: 970px;
    margin: auto;
    padding-top: 75px;
}
.container h3{
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}
@media (max-width:1200px){
   .header-container {
       justify-content: space-between;
   }
}
@media (max-width:800px){
    body{
        width: 100%;
    }
    #company-logo h1{
        font-size: 25px;
    }
    #main-menu{
        display: none;
    }
    .header-container{
        justify-content:center;
    }
  
    .menu-item{
        text-align: center;
         margin-top: 1rem;
    }
    #topButton{
        font-size: 18px;
        padding: 5px;
         bottom: 85px;
<<<<<<< HEAD
         right:10px;
=======
         right: 10px;
>>>>>>> 8f010f1821248869e9cfc87574f00d0c12b42d54
    }
    .project-row{
     flex-direction: column;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}
.project-row p{
    margin-bottom: 10px;
}
#contact fieldset{
    width: 80%;
    margin: auto;
    background-color: #eee;
    padding: 20px;
    box-shadow: 0 0 4px #ccc;
}
.container{
    width: 100%;
}

    .menu-item{
    padding:0 5px;
    
}
.container-footer{
    justify-content: center;
    align-items: center;
}
#copyright{
margin-top: 10px;
}
}
